*{
    font-family: arial;
    font-style: italic;

}

#sidebar{
    background-color:rgb(218, 0, 83);
    width: 30%;
    height: 400px;
    display: block;
    position: absolute;
    right: 9px;
    top: 127px;
}

section{
    background-color:rgb(60, 115, 218);
    width: 68%;
    height: 400px;
    display: block;
}

article{
    background-color:rgb(218, 60, 192);
    height: 100px;
    display: block;
    border: 1px solid black;
}

.text-underline{
    text-decoration: underline;
}

nav{
    width: 100%;
    display: block;
}

footer{
    width: 100%;
    display: block;
}

